<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <link rel="stylesheet" href="/public/css/style.css" media="all" />
    <script src="/public/js/app.js" type="module"></script>
  </head>
  <body>
    <div class="container">
      <article>
        <%= @content %>
      </article>
    </div>
  </body>
</html>
