<section id="suggestions-listing">
  <h2><a href="/suggestions">Suggestions</a></h2>
  <%= @suggestions %>
</section>

<section id="posts-listing">
  <h2><a href="/posts">Articles</a></h2>
  <%= @posts %>
</section>

<aside>Links wip</aside>
