body {
  background-color: #EEE;
  color: #333;
  font-size: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

h3 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  border-bottom: 1px solid gray;
  padding-bottom: 2px;
  color: #333;
  transition: border-bottom 500ms ease-in-out, color 500ms ease-in-out;
}

a:hover {
  border-bottom: 1px solid #1145e9;
  color: #1145e9;
}

ul {
  padding-left: 30px;
  list-style-type: '👉 ';
}

li {
  margin: 15px 0;
}

body > header {
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  max-width: 1024px;
  margin: 0 auto;
}
